body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 1px dashed rgba(255,255,255,0.25);
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 0.4s;
}

a:hover {
  border-bottom: 1px dashed rgba(255,255,255,1);
}

ul li {
  margin: 0 0 10px;
}

h1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
  max-width: 1200px;
}

h1 span {
  float: left;
  transition: margin 0.5s ease-out;
  width: 5.26%;
}

h2 {
  color: white;
  float: left;
  font-family: "raleway", sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  margin: -100px 0 150px 0;
  text-align: center;
  width: 100%;
}

.actors-main  {
  color: #333;
  float: left;
  font-family: "raleway", sans-serif;
  font-size: 4em;
  margin: 200px 0;
  text-align: center;
  width: 100%;
}

.actors-main .actor {
  color: #333;
  margin: 0 20px;
}

.actors-main .actor:hover {
  border-color: #333;
}

.ampersand {
  font-size: 0.6em;
}

.trailer {
  border: 15px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  clear: both;
  margin-bottom: 100px;
  margin: 0 auto;
  position: relative;
  width: 500px;
}

.top-bar {
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: #444444;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.4em;
  line-height: 42px;
  padding: 3px 0 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.top-bar a {
  border: none;
  color: #444444;
  padding: 0;
}

.top-bar a:hover {
  border: none;
  color: #FFFFFF;
}

.credits {
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
  margin: 150px auto;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  width: 80%;
  max-width: 1200px;
}

.credits a {
  border-bottom: none;
  font-size: 1.75em;
  letter-spacing: -1px;
  margin: 0 5px;
  padding-bottom: 0;
}

.credits a:hover {
  border-bottom: none;
  text-decoration: underline;
}

.site-credits {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin: 0 20px 10px 20px;
  text-align: center;
}

.site-credits a {
  border: none;
  text-decoration: underline;
}

@media(max-device-width:780px) {
  .ampersand {
    clear: both;
    display: block;
  }

  h1 span {
    margin: 200px 0 150px;
  }

  .actors-main .actor {
    float: left;
    margin: 0;
    width: 100%;
  }

  .tilt-graphic {
    background-image: url('../images/iphoneoutline.gif');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 10px;
    display: block;
    height: 79px;
    position: fixed;
    right: 10px;
    width: 50px;
    animation:fadeout 0.5s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    -moz-animation:fadeout 0.5s;
    -moz-animation-delay: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation:fadeout 0.5s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
    -o-animation:fadeout 0.5s;
    -o-animation-delay: 4s;
    -o-animation-iteration-count: 1;
  }

  @-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

@media(max-device-width:500px) {
  .top-bar {
    font-size: 1.2em;
  }

  h1 span {
    margin: 0 0 250px;
  }

  .trailer {
    width: 90%;
  }

  .actors-main {
    font-size: 3em;
    margin: 50px 0 100px;
  }

  h2 {
    font-size: 1.2em;
  }

  .credits {
    font-size: 0.6em;
  }
}
